<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>论坛</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 样式-->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/css/prettyPhoto.css"/>
    <link rel="stylesheet" href="/static/css/flexslider.css"/>
    <link rel="stylesheet" href="/static/css/custom-styles.css">

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->

    <!-- Favicons图标 -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

    <!-- js -->
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.flexslider.js"></script>
    <script src="/static/js/jquery.custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-blog-next").click(function () {
                $('#blogCarousel').carousel('next')
            });
            $("#btn-blog-prev").click(function () {
                $('#blogCarousel').carousel('prev')
            });

            $("#btn-client-next").click(function () {
                $('#clientCarousel').carousel('next')
            });
            $("#btn-client-prev").click(function () {
                $('#clientCarousel').carousel('prev')
            });

        });

        $(window).load(function () {

            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });

    </script>
</head>

<body class="home">
<!-- Color Bars (above header)-->
<div class="color-bar-1"></div>
<div class="color-bar-2 color-bg"></div>

<!-- logo，搜索框，导航栏 -->
<div style="background-color: rgba(255,255,255,0.5);position: fixed;width: 100%">
<div style="margin-left: 30px;margin-top: 10px;margin-bottom: 15px;">
    <!-- 左上角图片和logo -->
        <div class="span5 logo" style="width: 250px;">
            <h4 style="font-size: 35px;font-family:'Arial Rounded MT Bold';margin-right: 0px">C h a t . J P G</h4>
        </div>

        <!-- 搜索框-->
        <form action="/all-0-0-0" method="post" style="margin-left: 10%; width: 300px;background-color: #ffffff;box-shadow:0 0 0 1px #eee;border-radius: 8px 8px 8px 8px;" class="span5 logo navbar-form navbar-left">
        {% csrf_token %}
        <div style="float: left;" class="form-group">
            <input  name="keys" type="text" class="form-control" style="border-color: #ffffff;border-radius: 8px 8px 8px 8px;height: 25px;width: 200px;margin: 0 auto;position: relative;" placeholder="请输入搜索内容">
        </div>
        <button style="margin-top: 3px; margin-left: 5px;width: 75px;background-color: #FFFFFF;border-color: #FFFFFF" type="submit" class="btn btn-default">搜索</button>
        </form>

       <!-- 导航栏 -->
        <div class="navbar hidden-phone" style="height: 10px;">

            <ul class="nav" style="margin-top: 35px;margin-left: 80px;">
                <li ><a href="/home"><img src="../static/img/home.png" style="height: 20px;width: 20px">主页</a></li>
                <li><a href="/publish"><img src="../static/img/publish.png" style="height: 20px;width: 20px">发帖</a>&nbsp;</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="../static/img/scan.png" style="height: 20px;width: 20px">看帖 <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/all-0-0-0">全部帖子</a></li>
                        {% for kind in kinds %}
                            <li><a href="/all-{{ kind.id }}-0-0">{{ kind.k_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><img src="../static/img/self-inform.png" style="height: 20px;width: 20px">个人中心<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    <li><a href="/edit-pwd">修改密码</a></li>
                        <li><a href="/edit-inform">修改个人信息</a></li>
                    </ul>
                </li>
                <li><a href="/likes"><img src="../static/img/likes.png" style="height: 20px;width: 20px">收藏夹</a></li>
            </ul>
        </div>
    </div>
    <!--导航栏结束 -->

            <!-- 移动端导航 -->
            <form action="#" id="mobile-nav" class="visible-phone">
                <div class="mobile-nav-select">
                    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                        <option value="">导航栏</option>
                        <option value="/home">主页</option>
                        <option value="/publish">发帖</option>
                        <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="page-full-width.htm">看帖 <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/all-0-0-0">全部帖子</a></li>
                            <li><a href="/all-1-0-0">风景</a></li>
                            <li><a href="/all-2-0-0">人物</a></li>
                            <li><a href="/all-3-0-0">动物</a></li>
                            <li><a href="/all-4-0-0">幻想</a></li>
                        </ul>
                    </li>
                        {% for kind in kinds %}
                            <option value="/all-{{ kind.id }}-0-0">- {{ kind.k_name }}</option>
                        {% endfor %}

                        {% if uid %}
                        <option value="/login">退出</option>
                        {% else %}
                        <option value="/login">登录</option>
                        {% endif %}
                    </select>
                </div>
            </form>

        </div>
    </div>
</div>
</div>

<div style="width: 100%;height: 52%;">
    <div style="width: 500px; height: 100px; margin-left: 400px;margin-top: 15%;margin-bottom: 20%;">
        <div class="span4">
            <form action="/edit-pwd/" method="post" >
                {% csrf_token %}
                <div  style="font-size:16px;color:#666;margin-bottom: 10px;margin-left: 65px;">
                    <span class="add-on">更改账号：</span>
                    <input style="width: 200px" class="span2" id="uid"
                                                            size="16" type="text" name="uid"
                                                            disabled="disabled" placeholder="{{ user.uid }}">
                </div>

                <div style="font-size:16px;color:#666;width: 300px;margin-bottom: 10px;margin-left: 80px;" >
                    <span class="add-on">原密码：</span>
                    <input style="width: 200px" class="span2" id="old_pwd"
                                                            size="16" type="password" name="old_pwd"
                                                            placeholder="请输入原密码">
                </div>
                <div style="font-size:16px;color:#666;width: 300px;margin-bottom: 10px;margin-left: 80px;">
                    <span class="add-on">新密码：</span>
                    <input style="width: 200px" class="span2" id="new_pwd1"
                                                            size="16" type="password" name="new_pwd1"
                                                            placeholder="请输入新密码">
                </div>
                <div  style="font-size:16px;color:#666;">
                    <span class="add-on">请再次输入新密码：</span>
                    <input style="width: 200px" class="span2" id="new_pwd2"
                                                            size="16" type="password" name="new_pwd2"
                                                            placeholder="请再次输入新密码">
                </div>
            </form>
                <div style="padding: 20px;margin: 0 auto;">
                    <button id="login-button" style="margin-right: 20px;margin-left: 80px;" class="btn btn-large"
                            type="submit">提交
                    </button>
                    <button id="cancel-button" style="margin-right: 20px;margin-left: 20px;"
                            class="btn btn-large btn-inverse"
                            type="button">取消
                    </button>
                </div>
        </div>
    </div>
</div>


<!-- 结尾部分 -->
<div class="footer-container" style="height:18%;">
    <div class="container">
        <div style="margin-top: 30px" class="row">
            <div class="span12 footer-col footer-sub">
                <div class="row no-margin">
                    <div class="span6"><span class="left">一个论坛</span>
                    </div>
                    <div class="span6">
                            <span class="right">
                            <a href="#">主页</a>&nbsp;&nbsp;&nbsp
                            </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- 尾部结束 -->

<!-- 回到顶端 -->
<div id="toTop" class="hidden-phone hidden-tablet">回到顶端</div>

<script>
    $('#login-button').click(function () {
        var uid = $('#uid').val();
        var pwd = $('#pwd').val();
        var old_pwd = $('#old_pwd').val();
        var new_pwd1 = $('#new_pwd1').val();
        var new_pwd2 = $('#new_pwd2').val();
        $.ajax({
            url: window.location.href,
            type: "POST",
            data: {'type': 'login', 'uid': uid, 'pwd': pwd, 'old_pwd':old_pwd,'new_pwd1':new_pwd1,'new_pwd2':new_pwd2},
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");    // csrf
            },
            success: function (data) {
                var dic = JSON.parse(data);
                if (dic.status) {
                    alert(dic.msg);
                    window.location.href = "/home";
                }else {
                    alert(dic.msg);
                    window.location.href = "/edit-pwd";
                }

            }
        });
    });

    $('#cancel-button').click(function () {
        window.location.href = "/home";
    });

</script>
</body>
</html>
