<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>论坛</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 样式-->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="/static/css/prettyPhoto.css"/>
    <link rel="stylesheet" href="/static/css/flexslider.css"/>
    <link rel="stylesheet" href="/static/css/custom-styles.css">

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="css/style-ie.css"/>
    <![endif]-->

    <!-- Favicons图标 -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

    <!-- js -->
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.flexslider.js"></script>
    <script src="/static/js/jquery.custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#btn-blog-next").click(function () {
                $('#blogCarousel').carousel('next')
            });
            $("#btn-blog-prev").click(function () {
                $('#blogCarousel').carousel('prev')
            });

            $("#btn-client-next").click(function () {
                $('#clientCarousel').carousel('next')
            });
            $("#btn-client-prev").click(function () {
                $('#clientCarousel').carousel('prev')
            });

        });

        $(window).load(function () {

            $('.flexslider').flexslider({
                animation: "slide",
                slideshow: true,
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });

    </script>
    <script>
    $("#generate").click(function() {
        var prompt =  $('#prompt').val();
        $.ajax({
            type: "GET",
            url: window.location.href,
            data: prompt,
        });
    });
    </script>
    <style>
        .top10 {
            font-size: 15px;
            padding: 5px;
            color: black;
            display: block;
            margin-left: 10px;
        }
    </style>
</head>

<body class="home">
<!-- 最上方两个条子 -->
<div class="color-bar-1"></div>
<div class="color-bar-2 color-bg"></div>

<!-- 中间部分 -->
<div class="container">

    <!-- logo，搜索框，导航栏 -->
    <div class="row header">

        <!-- 左上角图片和logo -->
        <div class="span12 logo" >
            <h2 style="text-align:center;font-size: 50px;font-family:'Arial Rounded MT Bold';margin-right: 0px">C h a t . J P G</h2>
        </div>

        <!-- 导航栏 -->
        <div class="span" style="margin:0 auto">
            <div class="navbar hidden-phone" style="height: 40px;margin-left:480px;margin-top: 20px">

                <ul class="nav">

                    <li><a href="/publish">发帖</a>&nbsp;</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">看帖 <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/all-0-0-0">全部帖子</a></li>
                            {% for kind in kinds %}
                                <li><a href="/all-{{ kind.id }}-0-0">{{ kind.k_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    {% if uid %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{{ uid }}，欢迎你<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            <li><a href="/edit-pwd">修改密码</a></li>
                                <li><a href="/edit-inform">修改个人信息</a></li>
                            </ul>
                        </li>

                        <li><a href="/login">退出</a></li>
                    {% else %}
                        <li><a href="/login">登录</a></li>
                    {% endif %}


                </ul>

            </div>

            <!-- 移动端导航 -->
            <form action="#" id="mobile-nav" class="visible-phone">
                <div class="mobile-nav-select">
                    <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                        <option value="">导航栏</option>
                        <option value="/home">主页</option>
                        <option value="/publish">发帖</option>
                        <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="page-full-width.htm">看帖 <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/all-0-0-0">全部帖子</a></li>
                            <li><a href="/all-1-0-0">风景</a></li>
                            <li><a href="/all-2-0-0">人物</a></li>
                            <li><a href="/all-3-0-0">动物</a></li>
                            <li><a href="/all-4-0-0">幻想</a></li>
                        </ul>
                    </li>
                        {% for kind in kinds %}
                            <option value="/all-{{ kind.id }}-0-0">- {{ kind.k_name }}</option>
                        {% endfor %}

                        {% if uid %}
                        <option value="/login">退出</option>
                        {% else %}
                        <option value="/login">登录</option>
                        {% endif %}
                    </select>
                </div>
            </form>

        </div>
    </div>
    <!-- 3个结束 -->

    <!-- 介绍 -->
    <div class="row headline">

        <!-- 生成区 -->
        <div class="span6">
            <img id = "gen" decoding="async" src="data:image/png;base64,{{ image_base }}" class="mx-auto d-block " style="width:75%;border-style: groove;"
                    alt="作品将在此处生成~" onerror="javascript:this.src='../static/img/horse.png'">
        </div>

        <!-- 指导 -->
        <div class="span6">
            <h2 style="line-height:45px;margin-bottom: 40px;line-height:50px;font-style: italic">欢迎来到Chat.JPG~ <br/>
                这里是生成页</br>
                请尽情发挥你的创意！</h2>
            <p class="lead" style="margin-bottom: 40px;">tip：请输入想要生成的内容</br>
                例如：<mark>骑着马的宇航员</mark></p>
            <form action="#" method="post" name="register">
                {% csrf_token %}
                <input id="prompt" name="prompt" type="prompt"
                       class="input-xxlarge" class="form-control" placeholder="骑着马的宇航员"></form>
                <button id="generate" class="btn btn-large" type="submit" >尝试生成</button>
                <button onclick="downloadImageById('imageId')" type="button" class="btn btn-large">点击下载图片</button>
                <a href="{{ image_url }}" >打开图片</a>
            </form>
        </div>
    </div>
    <!-- top 10结束 -->

    <!-- 显示帖子 -->
    <div class="row gallery-row"><!-- 帖子列表开始 -->

        <div class="span12">
            <h5 class="title-bg">帖子推荐
                <a style="float: right;" href="/all-0-0-0" class="btn btn-mini btn-inverse hidden-phone" type="button">查看全部</a>
            </h5>

            <!-- 网格，全部帖子 -->

            <div class="row clearfix no-margin">
                <ul class="gallery-post-grid holder">

                    <!-- 1 -->
                    {% for t in r_list %}
                        <li class="span3 gallery-item" data-id="id-1" data-type="illustration">
                            <a href="/single/{{ t.t_id }}"><img src="{{ t.t_photo }}" alt="Gallery"></a>
                            <span class="project-details"><a
                                    href="single.html">{{ t.t_title }}</a>{{ t.t_introduce }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <!-- 帖子显示结束 -->

</div>
<!-- 中间部分结束 -->

<!-- 结尾部分 -->
<div class="footer-container">
    <div class="container">
        <div style="margin-top: 30px" class="row">
            <div class="span12 footer-col footer-sub">
                <div class="row no-margin">
                    <div class="span6"><span class="left">Chat.JPG</span>
                    </div>
                    <div class="span6">
                            <span class="right">
                            <a href="home">主页</a>&nbsp;&nbsp;
                            </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- 尾部结束 -->

<!-- 回到顶端 -->
<div id="toTop" class="hidden-phone hidden-tablet">回到顶端</div>

<script>
  function downloadImageById(elementId) {
    var imageElement = document.getElementById('gen');
    if (imageElement) {
      var imageUrl = imageElement.src;
      var fileName = 'image.jpg'; // 替换为要保存的文件名

      var anchorElement = document.createElement('a');
      anchorElement.href = imageUrl;
      anchorElement.download = fileName;
      anchorElement.style.display = 'none';
      document.body.appendChild(anchorElement);
      anchorElement.click();
      document.body.removeChild(anchorElement);
    }
  }
</script>




</body>
</html>
