<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>论坛</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 样式-->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
<!--    <link rel="stylesheet" href="css/bootstrap-responsive.css">-->
<!--    <link rel="stylesheet" href="css/prettyPhoto.css"/>-->
<!--    <link rel="stylesheet" href="css/flexslider.css"/>-->
    <link rel="stylesheet" href="/static/css/custom-styles.css">

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/static/css/style-ie.css"/>
    <![endif]-->

    <!-- Favicons图标 -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

    <!-- js -->
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
    <script src="/static/js/jquery.flexslider.js"></script>
    <script src="/static/js/jquery.custom.js"></script>
</head>

<body class="home" style="font-size: 18px">

<div class="color-bar-1"></div>
<div class="color-bar-2 color-bg"></div>

<div class="container main-container" style="height: fit-content">

    <!-- logo，搜索框，导航栏 -->
    <div class="row header">

        <!-- 左上角图片和logo -->
        <div class="span5 logo" style="width: 250px">
            <h4 style="font-size: 35px;font-family:'Arial Rounded MT Bold';margin-right: 0px">C h a t . J P G</h4>
        </div>

        <!-- 搜索框-->
        <form action="/all-0-0-0" method="post" style="margin-left: 0; width: 350px;" class="span5 logo navbar-form navbar-left">
            {% csrf_token %}
            <div style="float: left;" class="form-group">
                <input name="keys" type="text" class="form-control" placeholder="请输入搜索内容">
            </div>
            <button style="margin-top: 4px; margin-left: 10px" type="submit" class="btn btn-default">搜索</button>
        </form>

        <!-- 导航栏 -->
        <div  style="width: 280px;float: right;margin-right: 5%;margin-top: 4%">
            <div class="navbar hidden-phone" style="height: 40px;width: 360px;">

                <ul class="nav">
                    <li><a href="/home"><img src="../static/img/home.png" style="height: 20px;width: 20px">主页</a></li>
                    <li><a href="/publish"><img src="../static/img/publish.png" style="height: 20px;width: 20px">发帖</a></li>
                    <li class="dropdown active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="page-full-width.htm"><img src="../static/img/scan.png" style="height: 20px;width: 20px">看帖 <b
                                class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/all-0-0-0">全部帖子</a></li>
                            <li><a href="/all-1-0-0">风景</a></li>
                            <li><a href="/all-2-0-0">人物</a></li>
                            <li><a href="/all-3-0-0">动物</a></li>
                            <li><a href="/all-4-0-0">幻想</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"><img src="../static/img/self-inform.png" style="height: 20px;width: 20px">个人中心<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        <li><a href="/edit-pwd">修改密码</a></li>
                            <li><a href="/edit-inform">修改个人信息</a></li>
                        </ul>
                    </li>
                    <li><a href="/likes"><img src="../static/img/likes.png" style="height: 20px;width: 20px">收藏夹</a></li>
                    <li><a href="/login"><img src="http://127.0.0.1:8000/static/img/exit.png" style="height: 20px;width: 20px">退出</a></li>

                </ul>

            </div>

        </div>

    </div>

    <form accept-charset="UTF-8" style="margin-left: 10%" action="/publish/" class="publish" id="new_topic" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <table width="100%" border="0" cellspacing="0" cellpadding="6">
            <colgroup>
                <col width="140">
                <col>
            </colgroup>
            <tbody>

            <tr>
                <th>作品标题</th>
                <td>
                    <label style="margin-top: 20px">
                        <input required id="topic_title" maxlength="80" name="t_title" size="60" type="text">
                    </label>
                </td>
            </tr>

            <tr>
                <th valign="top">作品概要</th>
                <td>
                    <label>
                        <input required id="topic_introduce" maxlength="80" name="t_introduce" size="60" type="text">
                    </label>
                </td>
            </tr>
            <tr>
                <th valign="top">生成文本</th>
                <td>
                    <div class="body_count">
                        <textarea style="width: 700px;" cols="62" rows="20" name="t_content"></textarea>
                    </div>
                </td>
            </tr>

            <tr>
                <th>作品文件</th>
                <td>

                    <div>
                        <input type="file" name="t_photo" accept="image/*">
                    </div>
                </td>
            </tr>

            <tr>
                <th>类别</th>
                <td>
                    <div>
                        <select name="t_kind">
                            {% for kind in kinds %}
                                <option value="{{ kind.id }}">{{ kind.k_name }}</option>
                            {% endfor %}
                            <option>风景</option>
                            <option>人物</option>
                            <option>动物</option>
                            <option>幻想</option>
                        </select>
                    </div>
                </td>
            </tr>

            <tr>
                <th></th>
                <td>
                    <button class="btn btn-large" type="submit">发表帖子</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<!-- 结尾部分 -->
<div class="footer-container" style="height: 20%;">
    <div class="container">
        <div style="margin-top: 30px" class="row">
            <div class="span12 footer-col footer-sub">
                <div class="row no-margin">
                    <div class="span6"><span class="left">Chat.JPG</span>
                    </div>
                    <div class="span6">
                            <span class="right">
                            <a href="http://127.0.0.1:8000/home/">主页</a>&nbsp;&nbsp;
                            </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- 尾部结束 -->

<!-- 回到顶端 -->
<div id="toTop" class="hidden-phone hidden-tablet">回到顶端</div>

</body>
</html>
